<div class="container">
    <router-outlet></router-outlet>
</div>
<div class="footer">
    <div class="footer-content">© 2019 - Richtig sparen mit VERIVOX, den Tarifexperten. Das unabhängige Verbraucherportal vergleicht kostenlos Tarife und Produkte in den Bereichen Energie, Telekommunikation, Versicherungen, Finanzen, Fahrzeuge und Immobilien. VERIVOX verwendet größte Sorgfalt auf Vollständigkeit und Richtigkeit der dargestellten Informationen, kann aber keine Gewähr für diese oder die Leistungsfähigkeit der Anbieter übernehmen.</div>
</div>
