<div class="project-filters">
    <form [formGroup]="filterForm">
        <mat-form-field class="foundations">
            <mat-label>Select Foundations</mat-label>
            <mat-select>
                <mat-option *ngFor="let foundation of foundations" [value]="foundation.id">
                    {{foundation.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <div class="categories">
            <ng-container formArrayName="categories">
                <div *ngFor="let category of categories; let i = index" >
                    <mat-checkbox class="example-margin" [formControlName]="i">
                        {{category.name}}
                    </mat-checkbox>
                </div>
            </ng-container>
        </div>
    </form>
</div>
<div class="project-list">
    <mat-card *ngFor="let project of projects" class="project-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ project?.name }}</mat-card-title>
            <mat-card-subtitle>{{ project?.foundationName }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="project?.image" alt="Photo">
        <mat-card-content>
            <mat-chip-list>
                <mat-chip *ngFor="let category of project?.categoryNames"  color="primary" >{{ category }}</mat-chip>
            </mat-chip-list>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="goToDetails(project?.id)" mat-raised-button color="basic">Details</button>
            <button mat-raised-button color="primary">Donate</button>
        </mat-card-actions>
    </mat-card>
</div>
